<footer class="footer bg-gray-800">
    <ul class="footer-nav mt-3 mb-24 text-2xl">
        <li class="footer-nav__item">
            <%= render_svg "logo-dark-1", styles: 'logo footer-nav__item' %>
        </li>
        <li class="text-gray-200">
            <%= link_to "https://github.com/BCS-io", class: 'footer-nav__link' do %>
              <%= render_svg "github", styles: 'logo' %>
            <% end %>
        </li>
        <li class="text-gray-200">
            <div class="c-media">
                <div class="c-media__figure">
                <%= render_svg "location" %>
                </div>
                <div class="media__body">
                    <address class="address not-italic whitespace-pre-line">
                    Business Consolidating Services
                    Birmingham
                    B75 6NR
                    </address>
                </div>
            </div>
        </li>
        <li class="text-gray-200">
            <%= link_to "mailto:hello@bcs.io", class: "footer-nav__link" do %>
                <div class="c-media">
                    <div class="c-media__figure">
                        <%= render_svg "envelope" %>
                    </div>
                    <div class="c-media__body">
                        hello@bcs.io
                    </div>
                </div>
            <% end %>
        </li>
    </ul>
    <p class="footer__copyright text-center text-gray-500 text-2xl">&copy; 2021 BCS Ltd. All rights reserved.&nbsp;<%= BcsIo::Application::VERSION %></p>
</footer>
