<footer class="footer">
    <ul class="footer-nav">
        <li class="footer-nav__item">
            <%= inline_svg "logo-dark-1.svg", class: 'logo footer-nav__item' %>
        </li>
        <li class="footer-nav__item">
            <%= link_to "https://github.com/BCS-io", class: 'footer-nav__link' do %>
              <%= inline_svg "github.svg", class: 'logo' %>
            <% end %>
        </li>
        <li class="footer-nav__item">
            <div class="c-media">
                <div class="c-media__figure">
                <%= inline_svg "location.svg" %>
                </div>
                <div class="media__body">
                    <address class="address">
                    Business Consolidating Services
                    Birmingham
                    B75 6NR
                    </address>
                </div>
            </div>
        </li>
        <li class="footer-nav__item">
            <%= link_to "mailto:hello@bcs.io", class: "footer-nav__link" do %>
                <div class="c-media">
                    <div class="c-media__figure">
                        <%= inline_svg "envelope.svg" %>
                    </div>
                    <div class="c-media__body">
                        hello@bcs.io
                    </div>
                </div>
            <% end %>
        </li>
    </ul>
    <p class="footer__copyright">&copy; 2019 BCS Ltd. All rights reserved.</p>
</footer>
