<header class="main-header">
    <div class="main-header__container">
        <%= link_to root_url, id: 'home-logo' do %>
            <h1 class="main-header__logo">
                <%= render_svg "logo", styles: 'logo' %>
            </h1>
        <% end %>

        <nav>
            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <%= link_to_unless_current "About", about_pages_path do %>
                      <span class= 'main-nav__item--active'>About</span>
                    <% end %>
                </li>
                <li class="main-nav__item">
                    <%= link_to_unless_current "Work", work_pages_path do %>
                      <span class= 'main-nav__item--active'>Work</span>
                    <% end %>
                </li>
                <li class="main-nav__item"><%= link_to "Contact", root_path(anchor: "contact-us") %></li>
            </ul>
        </nav>
    </div>
</header>
