<header class="main-header flex flex-col justify-end">
    <div class="flex items-baseline justify-between flex-wrap">
        <%= link_to root_url,  class: 'relative', id: 'home-logo' do %>
            <h1 class="no-underline">
                <%= render_svg "logo", styles: 'h-14' %>
            </h1>
            <span class="text-gray-500 text-sm absolute -bottom-5 left-0">Business software</span>
        <% end %>

        <nav class="p-0 m-0">
            <ul class="flex m-0 p-0 text-lg sm:text-3xl active:underline p-0 m-0">
                <li class="p-0 ml-4">
                    <%= link_to_unless_current "About", about_pages_path, class: 'align-top' do %>
                      <span class= 'underline font-bold'>About</span>
                    <% end %>
                </li>
                <li class="p-0 ml-4 sm:ml-8">
                    <%= link_to_unless_current "Work", work_pages_path, class: '' do %>
                      <span class= 'underline font-bold'>Work</span>
                    <% end %>
                </li>
                <li class="p-0 ml-4 sm:ml-8"><%= link_to "Contact", root_path(anchor: "contact-us"), class: '' %></li>
            </ul>
        </nav>
    </div>
</header>
