<%= content_for :title, "BCS.io" %>

<div class="home">
  <main class="idea-message">
    <h1 class="heading-primary">We are developers</h1>
    <p class="paragraph">Successful software is a conversation.</p>
    <p class="paragraph">We listen. We talk.</p>
    <p class="paragraph">Between us we will find a clear path through your needs and wants, queries and worries, working towards your goal.</p>
    <p class="paragraph">You want to follow the thread to your aim.</p>
    <p class="paragraph">Together we'll unwind any development knots.</p>
  </main>

  <div class="idea-button">
    <%= link_to "Let's talk", root_path(anchor: "contact-us"), class: "c-btn c-btn--medium c-btn--action" %>
  </div>

  <aside class="idea-picture">
    <%= inline_svg "the-idea.svg" %>
  </aside>

  <div class="knot">
    <%= inline_svg "knot.svg" %>
  </div>

  <div class="solutions-clouds">
    <%= inline_svg "solutions-clouds.svg" %>
  </div>

  <article class="solutions-message">
    <h1 class="heading-primary">Solutions that take flight</h1>

    <p class="paragraph">With you, we understand your business.</p>
    <p class="paragraph">We can develop quickly.</p>
    <p class="paragraph">You can review solutions early and often.</p>
    <p class="paragraph">You know what you're paying for.</p>
    <p class="paragraph">You know your work is ready for lift-off.</p>
  </article>

  <aside class="solutions-picture">
    <%= inline_svg "solutions-ballon.svg" %>
  </aside>

  <div class="unknot">
    <%= inline_svg "unknot.svg" %>
  </div>

  <div class="contact-us-heading">
    <h1 class="heading-primary--main">Explore</h1>


    <div id="contact-us" class="contact-us">
      <%= render 'contact/form' %>
    </div>
  </div>

  <div class="hand-shake">
    <%= inline_svg "hand-shake.svg" %>
  </div>
</div>
