<%= content_for :title, "BCS.io" %>

<div class="home">
  <main class="idea-message">
    <h1 class="heading-primary--main">We are developers</h1>
    <p class="paragraph">Successful development is a lasting conversation about your business. As we talk, we get a clear
      view of your business needs and letting us unwind any knotty problems.</p>
  </main>

  <div class="idea-button">
    <button class="c-btn c-btn--medium c-btn--action">Let's talk</button>
  </div>

  <aside class="idea-picture">
    <%= inline_svg "the-idea.svg" %>
  </aside>

  <div class="knot">
    <%= inline_svg "knot.svg" %>
  </div>

  <div class="solutions-clouds">
    <%= inline_svg "solutions-clouds.svg" %>
  </div>

  <article class="solutions-message">
    <h1 class="heading-primary--main">Uplifting Solutions</h1>
    <p class="paragraph">Once we understand you business need we can develop quickly and you review the solution early and
      often so you know what you're paying for and keeping you in the loop.</p>
  </article>

  <aside class="solutions-picture">
    <%= inline_svg "solutions-ballon.svg" %>
  </aside>

  <div class="unknot">
    <%= inline_svg "unknot.svg" %>
  </div>

  <div class="contact-us-heading">
    <h1 class="heading-primary--main">Explore</h1>

    <h2>Contact us form</h2>
  </div>

  <div class="hand-shake">
    <%= inline_svg "hand-shake.svg" %>
  </div>
</div>
