<%= content_for :title, "Work | BCS.io" %>

<div class="work">
  <div class="menu">
    <%= render 'layouts/main-header' %>
  </div>

  <div class="work-main">
    <h1 class="heading-primary--main">Work</h1>

    <section class="gallery">
      <figure class="gallery__item gallery__item--1">
        <%= inline_svg "adams-logo.svg", class: 'gallery__img' %>
      </figure>

      <figure class="gallery__item gallery__item--2">
        <%= inline_svg "work/bcs_io/cover.svg", class: 'gallery__img' %>
      </figure>
    </section>
  </div>


    <%= render 'layouts/footer' %>
</div>
